@import "tailwindcss";

@layer base {
	html,
	body,
	#root {
		height: 100%;
	}

	body {
		font:
			15px system-ui,
			sans-serif;
		color: var(--color-neutral-100);
		background: var(--color-neutral-900);
	}
}
